@charset "utf-8";
   .wrapper{
      min-width:1200px;
      background:red;
      height:100vh;
}

   .header{
      min-width:1200px;
      background:#093687;
      height:60px;
      position:absolute;
      top:0;
      left:0;
      right:0;
      z-index:1;
   }
   .logo{
      float:left;
   }
   .header_right{
      position:absolute;
      right:0;
   }
   .head_ul{
      float:right;
      margin:15px 30px 0 0;

   }
   #head_li {
      float:left;
      padding-left:30px;
      color:#fff;
      line-height:30px;
      font-weight:bold;
   }
   .head_gradi{
      background:linear-gradient(to right, #12d4f9, #0575de);
      border-radius:50px;
      color:#fff;   
      padding:5px;
      border:none;
      width:106px;
      font-size:14px;
   }
   .user{
      position:relative;
   }
   .user::before{
      content:"";   
      width:1px;
      height:15px;
      background:#48556d;
      position:absolute;
      left:13px;
      top:10px;
   }
   .fas{
      font-size:20px;
      margin:5px 5px 0 0;
   }

   .box_left i{
      position:absolute;
      left:20px;
      line-height:60px;
      font-size:20px;
      text-align:center;
}
   .box_left .fa-plus{
      font-size:10px;
      position:absolute;
      left:170px;
   }
   
   .box_left ul li a{
       color:black;
       opacity:0.5;
       line-height:65px;
}


   .container{
      position: relative; 
      padding-left: 200px;
      padding-top: 60px;
      height: 100vh;
      box-sizing: border-box;
      background: #ecf0f7;
   }
   .box_left{
       width:200px;
       background:#fff;
       position:absolute;
       left:0;
       bottom:0;
       top:60px;
   }
   .officer{      
        text-align:center;
        background:#fff;
        height:50px;
   }

  .box{
     background:#fff; 
     border:1px solid #ddd;
     padding:10px; 
     /* overflow:hidden */
  }
   .table {
     width:100%; 
   }
   .hov{
      background:#eee;
   }
   .menu_box{
     display:none;
   }
   .head_list{
      height:50px
      line-height:50px;
      padding:10px 0 0 0;
   }
   .box_right{
      background:#ecf0f7;
      padding:0 20px 0 20px;
        height:100%;
        overflow: hidden;
   }
   .title_h1{
      font-size:26px;   
      color:#2b2b2b;
    }
   .sectionbox{
      padding:30px 20px 20px 20px;
      border:3px solid #eee;
      background:#fff;
      margin-top:10px;
   }
   .fom{
      width:105px;
      float:left;
      padding:0 0 0 15px;
      
   }
   .fom_sel{
      width:100px;
      height:30px;
      line-height:25px;
      
   }
    .inp[type="text"]{
      width:520px;
      height:30px;
      float:left;
      
   }
   .button{
      text-align:center;
      width:100%;
      margin-top:15px;
   }
   .btn{
      outline:none;
      border:none;
      width:90px;
      height:40px;
      background:#093687;
      color:#fff;
      text-align:center;
      font-size:15px;
      cursor:pointer;
      line-height:10px;
   }
   .btn_white{
      outline:none;
      border:none;
      width:90px;
      height:40px;
      background:#fff;
      color:#093687;
      border:1px solid #093687;
      text-align:center;
      font-size:15px;
      cursor:pointer;
      line-height:10px;
   }
   .btn_bot{
      padding:13px 0 0 0;
      background:#fff;
   }
   .bott_bt{
      border:1px solid #ddd;
   }
   
   .top_th{
      width:180px;
      color:#2b2b2b;

   }
   .th_th,th{
      height:40px;
      text-align:center;
      background:#f3f3f3;
      border:1px solid #eee;
   }
    .td_td,td{
        height:40px;
      text-align:center;
      background:#fff;
      border:1px solid #eee;
}
   .c_b{
      width:95%;
   }
   .selt{
      width:74px;
   }
   .text_btn{
      width:50px;
      height:30px;      
      background:#fff;
      border:none;
      border:1px solid #98989b;
   }
   .boardboxbottom{
      padding:25px 20px 30px 20px;
      border:3px solid #eee;
      margin-top:30px;
      background:#fff;
}
   .table_btn{
        width:20px;
      height:20px;   
      background:#fff;
      border:none;
      border:1px solid #aaaaaa;
   }
   .arr{   
    padding-top:20px;
   text-align:center;
   box-sizing:border-box;
   
}
   .arr_next {
   text-align:center;
   display:inline-block;
   color:#b1d0ff;
   margin:0 10px 0 10px;
}

   .arr_perv a{
   padding:0 10px 0 10px;
   font-size:20px;
   display:inline-block;
   border:1px solid #98989b;
   box-sizing:border-box;
   
}

     .ic{
        font-size: 10px;
      font-weight: 900;
      position:absolute;
      left: 20px;
  }

      .sectn_left{
            padding:10px;
         width:49%;
         float:left;
         box-sizing:border-box;
         background:#fff;
            margin:5px 0;
      }
      .sectn_right{
            padding:10px;
         width:49%;
         float:left;
         box-sizing:border-box;
         background:#fff;
            margin:5px 0;
      }
.icon_right{
    
}
.section_bot{
   padding:10px;
   background:#fff;
   float:left;
   margin-top:30px;
   width:98.5%;
   
}


  .table{color:#333; border:1px solid #ddd;text-align:center;}
  .table th {background:#eee;border:1px solid #dddd;}
  .fL{flaot:left;}
  .fR{float:right}

  .red{color:#ff0000;}

  .blue{color:#262cfe;}

  .bg_white{background:#fff; color:#111111;border:1px solid #98989b;border-radius:4px;}

  .color_black,td{color:black;height:45px;}

  .txtal_left{text-align:left;padding:0 0 0 10px;}
  
  .float_righ{float:right;}

.mg_left{margin-left:2%;}

.mg_top{margin-top:20px;}

  .txt_center{text-align:center;}

  .padin_left{padding-left:10px;}

  .orange_bg{background:#e8592d;border:none;color:#fff;width:50px;height:26px;}

  .green_bg{background:#01a039; border:none;color:#fff;width:50px;height:26px;}

  .bt_btn{
   background:#fff;
   border:1px solid #98989b;
   border-radius:3px;
   width:75px;
   height:25px;
   margin:10px 0 10px 0;
  }

  .b_d th,td{
   border:1px solid #eee;
  }

  .outline{outline:none;}

  .wid180{width:180px;}

  .position1{position:relative;}
